In [55]:
import json
import pandas as pd

In [56]:
df = pd.read_csv("random_zip_codes_with_coordinates_distances_and_radius.csv")

In [57]:
df

,zip,quantity,av. longitude,av. latitude,dist_to_sta_in_km,dist_to_rhb_in_km,within_dist
0,15859,1,13.894806,52.227569,492.14,514.65,outside
1,21279,2,9.748000,53.359325,336.53,359.74,outside
2,22965,1,10.347800,53.694600,389.63,413.03,outside
3,35279,7,9.116700,50.850000,135.55,155.03,outside
4,37345,6,10.434645,51.518855,241.17,263.69,outside
5,55122,1,8.237000,49.995000,114.01,115.51,outside
6,56769,1,7.004175,50.279150,56.83,38.78,inside
7,76698,1,8.631600,49.163000,206.73,202.71,outside
8,83224,1,12.468450,47.782150,507.62,511.44,outside
9,94336,1,12.739750,48.946450,447.27,456.78,outside

In [58]:
# We define a simple color range.
def assign_color(x):
    if x < 3:
        color = "#ffc1bd"
    elif x < 10:
        color = "#ff6157"
    elif x >= 10:
        color = "#fc0f00"
    return color

df["color"] = df["quantity"].apply(assign_color)

In [59]:
df

,zip,quantity,av. longitude,av. latitude,dist_to_sta_in_km,dist_to_rhb_in_km,within_dist,color
0,15859,1,13.894806,52.227569,492.14,514.65,outside,#ffc1bd
1,21279,2,9.748000,53.359325,336.53,359.74,outside,#ffc1bd
2,22965,1,10.347800,53.694600,389.63,413.03,outside,#ffc1bd
3,35279,7,9.116700,50.850000,135.55,155.03,outside,#ff6157
4,37345,6,10.434645,51.518855,241.17,263.69,outside,#ff6157
5,55122,1,8.237000,49.995000,114.01,115.51,outside,#ffc1bd
6,56769,1,7.004175,50.279150,56.83,38.78,inside,#ffc1bd
7,76698,1,8.631600,49.163000,206.73,202.71,outside,#ffc1bd
8,83224,1,12.468450,47.782150,507.62,511.44,outside,#ffc1bd
9,94336,1,12.739750,48.946450,447.27,456.78,outside,#ffc1bd

In [60]:
# We build a geojson structure with dictionaries.
data = {}
locations = []
for i in df.itertuples():
    row = {
        "geometry": 
        {"coordinates": [float(i[3]), float(i[4])], "type": "Point"}, 
        "properties": 
        {"zip code": i[1], 
         "quantity": i[2],
         "marker-size": "small",
         "marker-color": i[-1]}, 
         "type": "Feature"
    }
    locations.append(row)
        
#"marker-symbol": i.frequency},

In [61]:
data["features"] = locations
data["type"] = "FeatureCollection"
# It should work with the common json module.
json_file = json.dumps(data)
with open("geo_data_of_users.json", "w") as f:
    f.write(json_file)
# It works, but we might have to open the json file in geojson.io manually if it's too big.